# MongoDB

DATABASE=
DATABASE_PASSWORD=

# JWT

JWT_EXPIRES_DAY=
JWT_SECRET=

# CLOUDINARY

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# BASE_URL_DEV

BASE_URL_DEV=
BASE_URL_PROD=